{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    },\r\n    {\r\n      \"applicationId\": \"6d057c82-a784-47ae-8d12-ca7b38cf06b4\",\r\n      \"roleDefinitionId\": \"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e\",\r\n      \"managedByRoleDefinitionId\": \"82e8942a-bcb6-444a-b1c4-31a3ea463a7d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"79d7fb34-4bef-4417-8184-ff713af7a679\",\r\n      \"roleDefinitionId\": \"1c1f11ef-abfa-4abe-a02b-226771d07fc7\"\r\n    },\r\n    {\r\n      \"applicationId\": \"38808189-fa7a-4d8a-807f-eba01edacca6\",\r\n      \"roleDefinitionId\": \"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6\"\r\n    },\r\n    {\r\n      \"applicationId\": \"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68\",\r\n      \"roleDefinitionId\": \"787424c7-f9d2-416b-a939-4d59deb2d259\"\r\n    },\r\n    {\r\n      \"applicationId\": \"60b2e7d5-a27f-426d-a6b1-acced0846fdf\",\r\n      \"roleDefinitionId\": \"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworkGateways\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourcegroups/ps233?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"testtag\": \"APPGw tag\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233\",\r\n  \"name\": \"ps233\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"testtag\": \"APPGw tag\",\r\n    \"Created\": \"2024-01-17T20:14:28.9373027Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/virtualNetworks/ps8090?api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps8090' under resource group 'ps233' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/virtualNetworks/ps8090?api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"f9082e2e-d91c-4ee2-9555-d895b4b2261b\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8090\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/virtualNetworks/ps8090\",\r\n  \"etag\": \"W/\\\"f9082e2e-d91c-4ee2-9555-d895b4b2261b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"3df747fb-8400-4967-80c2-e6a7f0d70254\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps8160\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/virtualNetworks/ps8090/subnets/ps8160\",\r\n        \"etag\": \"W/\\\"f9082e2e-d91c-4ee2-9555-d895b4b2261b\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/virtualNetworks/ps8090?api-version=2023-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps8160\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/6e51a206-1cec-4a17-a950-c4fd3b788c30?api-version=2023-06-01&t=638411192723754840&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMxMTAyMDczOTIwWhcNMjQxMDI3MDczOTIwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/6e51a206-1cec-4a17-a950-c4fd3b788c30?api-version=2023-06-01&t=638411192723754840&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMxMTAyMDczOTIwWhcNMjQxMDI3MDczOTIwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/publicIPAddresses/ps9779?api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps9779' under resource group 'ps233' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/publicIPAddresses/ps9779?api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"ac46a5b1-9718-4776-b590-c7012ba78045\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9779\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/publicIPAddresses/ps9779\",\r\n  \"etag\": \"W/\\\"ac46a5b1-9718-4776-b590-c7012ba78045\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"539a00b8-1103-494c-9077-620a5b868073\",\r\n    \"ipAddress\": \"172.190.9.210\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/publicIPAddresses/ps9779?api-version=2023-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/d1cac527-18d4-40fd-a64a-42f6c5a16894?api-version=2023-06-01&t=638411192783383120&c=MIIHADCCBeigAw[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/d1cac527-18d4-40fd-a64a-42f6c5a16894?api-version=2023-06-01&t=638411192783383120&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMxMTAyMDczOTIwWhcNMjQxMDI3MDczOTIwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364?api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps6364' under resource group 'ps233' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364?api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11939"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6364\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364\",\r\n  \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9487bc93-91a8-4de7-adf9-2dbe370853d1\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\",\r\n      \"family\": \"Generation_1\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps9165\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/gatewayIPConfigurations/ps9165\",\r\n        \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/virtualNetworks/ps8090/subnets/ps8160\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\": [\r\n      {\r\n        \"name\": \"ps9410\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/trustedRootCertificates/ps9410\",\r\n        \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezOqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYDVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0aW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/WhcowDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pRLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5ygCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjujZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8=\",\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/backendHttpSettingsCollection/ps1105\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/trustedRootCertificates\"\r\n      }\r\n    ],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps4270\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/frontendIPConfigurations/ps4270\",\r\n        \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/publicIPAddresses/ps9779\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/httpListeners/ps4824\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps9336\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/frontendPorts/ps9336\",\r\n        \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/httpListeners/ps4824\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps509\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/backendAddressPools/ps509\",\r\n        \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/requestRoutingRules/ps2734\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps1105\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/backendHttpSettingsCollection/ps1105\",\r\n        \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/probes/ps8843\"\r\n          },\r\n          \"trustedRootCertificates\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/trustedRootCertificates/ps9410\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/requestRoutingRules/ps2734\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n      }\r\n    ],\r\n    \"backendSettingsCollection\": [],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"ps4824\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/httpListeners/ps4824\",\r\n        \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/frontendIPConfigurations/ps4270\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/frontendPorts/ps9336\"\r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\": [],\r\n          \"requireServerNameIndication\": false,\r\n          \"enableHttp3\": false,\r\n          \"customErrorConfigurations\": [],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/requestRoutingRules/ps2734\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n      }\r\n    ],\r\n    \"listeners\": [],\r\n    \"urlPathMaps\": [],\r\n    \"requestRoutingRules\": [\r\n      {\r\n        \"name\": \"ps2734\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/requestRoutingRules/ps2734\",\r\n        \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"ruleType\": \"Basic\",\r\n          \"priority\": 100,\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/httpListeners/ps4824\"\r\n          },\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/backendAddressPools/ps509\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/backendHttpSettingsCollection/ps1105\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n      }\r\n    ],\r\n    \"routingRules\": [],\r\n    \"probes\": [\r\n      {\r\n        \"name\": \"ps8843\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/probes/ps8843\",\r\n        \"etag\": \"W/\\\"bd519a95-b7f1-48a6-b4e0-c5e795b07ead\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Https\",\r\n          \"host\": \"probe.com\",\r\n          \"path\": \"/path/path.htm\",\r\n          \"interval\": 89,\r\n          \"timeout\": 88,\r\n          \"unhealthyThreshold\": 8,\r\n          \"pickHostNameFromBackendHttpSettings\": false,\r\n          \"minServers\": 0,\r\n          \"match\": {},\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/backendHttpSettingsCollection/ps1105\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/probes\"\r\n      }\r\n    ],\r\n    \"rewriteRuleSets\": [],\r\n    \"redirectConfigurations\": [],\r\n    \"privateLinkConfigurations\": [],\r\n    \"privateEndpointConnections\": [],\r\n    \"defaultPredefinedSslPolicy\": \"AppGwSslPolicy20220101\",\r\n    \"customErrorConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364?api-version=2023-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps9165\",\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/virtualNetworks/ps8090/subnets/ps8160\"\r\n          }\r\n        },\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps233/providers/Microsoft.Network/applicationGateways/ps6364/gatewayIpConfigurations/ps9165\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"trustedRootCertificates\": [\r\n      {\r\n        \"name\": \"ps9410\",\r\n        \"properties\": {\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7N[...]
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/c8765641-d938-4a6e-a605-a332b07df48e?api-version=2023-06-01&t=638411192827849782&c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjMxMTAyMDczOTIwWhcNMjQxMDI3MDczOTIwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
[...]
